@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz@6..12&family=Nunito:wght@300&family=Poppins:wght@300&display=swap');

:root{
  font-family: 'Nunito', sans-serif !important;
  font-family: 'Nunito Sans', sans-serif !important;
  font-family: 'Poppins', sans-serif !important;
  padding: 30px;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* Overriding MUI css */

.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input{
  font-family: 'Nunito Sans', sans-serif !important;
}

.css-1nuo49t-MuiButtonBase-root-MuiTab-root{
  font-family: 'Nunito Sans', sans-serif !important;
}

/* Table */
.css-1ygcj2i-MuiTableCell-root{
  font-family: 'Nunito Sans', sans-serif !important;
}
.css-136r5en-MuiTable-root{
  border: 2px solid #bae6fd !important;
  border-radius: 20px !important;

}

.css-1q1u3t4-MuiTableRow-root{
  border: 2px solid #bae6fd !important;
  border-radius: 20px !important;
}

.css-1eqdgzv-MuiPaper-root-MuiSnackbarContent-root{
  background-color: #bae6fd !important;
  color: black !important;
  font-family: 'Nunito Sans', sans-serif !important;

}